h1 {
	display: inline-block;
	padding: 0em;
}

span.icon:before {
	vertical-align: text-top;
	margin-left: 2em;
	margin-right: 0.4em;
	
}

i.material-icons {
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 0.2em;
}

#name i.material-icons {
    vertical-align: middle;
}

#main {
	max-width: 21cm;
	margin: 0 auto;
}

#name {
	padding: 0.8em;
	margin-top: 0;	
}

.small-box img {
	max-width: 140px;
	position: relative;
	margin: -30px 0 -32px -60px;		
	float: left;
}

.row {
	margin: 0 0;	
}

.box {
	display: inline-block;
	margin: 0.1em 0 0.1em;
	padding: 0.3em;
}

.header-box {	
	width: 100%;
}

.small-box {
	width: 17%;	
}

.medium-box {
	width: 30%;			
}

.big-box {	
	width: 82%;
}

.content-box {
	width: 100%;	
}

.first-level li {
	position: relative;
	padding-left: 1.5em;
	margin-left: 0.5em;
}

.first-level li:before {
	vertical-align: text-top;
	position: absolute;	
	left: 0;
	
}

.second-level li {
	position: relative;
	padding-left: 1em;	
}

.second-level li:before {
	
	position: absolute;
	left: 0;	
	vertical-align: text-top;	
}

.footer-box {
	width: 100%;
	margin-top: 0.1em;	
}

.dropdown {
    position: relative;   
    display: inline-block;       
    color: white;   
    float: right;     
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #08F;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #08F;
	color:  white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #05D;    
}